@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,100;1,200;1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: end;
}
/* bootstrap */
.btn, .eliminar{
    margin: 20px;
    background-color: #0088ffc9;
    border-radius: 45px;
    background-color: #00795b;
    border:none;
    padding: 8px;
    transition: all 0.3s;
    color: white;
}
.btn:hover, .eliminar:hover{
    background-color: #18a884;
}

/* main */
.contenedorPrincipal h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    color: #626262;
    margin: 25px;
}
.products{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pizzas-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pizzas-container .aproduct {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(63, 105, 20, 0.066), rgba(243, 244, 243, 0.219) 53%);
    box-shadow: 0px 0px 8px 2px #1111111c;
    display: inline-block;
    height: 460px;
    width: 255px;
    margin: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    position: relative;
    transition-duration: 0.2s;
}
.pizzas-container .aproduct:hover {
    transform: scale(1.01);
    -webkit-box-shadow: 0px 0px 8px 2px #1111112a;
    -moz-box-shadow: 0px 0px 8px 2px #1111112a;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.479);
}

.pizzas-container .aproduct img {
    height: 250px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition-duration: 1s;
}
.pizzas-container .aproduct img:hover{
    transform: rotate(5deg);
}

.pizzas-container .aproduct button {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    color: #ffffff;
    background-color: #00795b;
    right: 10px;
    bottom: 17px;
    width: 100px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 3px solid #9195941f;
    position: absolute;
    transition-duration: 0.3s;
}
.pizzas-container .aproduct button:hover {
    background-color: #18a884;
    border: 3px solid #18a884;
}

.pizzas-container .aproduct .product-desc h3 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: #5f5f5f;
    margin: 10px;
}

.pizzas-container .aproduct .product-desc p {
    font-family: sans-serif;
    font-size: 0.8rem;
    line-height: 19px;
    font-weight: normal;
    margin: 5px 5px 10px 20px;
    color: #5f5f5f
}

.pizzas-container .aproduct b {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 0.9rem;
    text-align: center;
    padding: 5px;
    color: #5f5f5f;
    bottom: 18px;
    left: 10px;
    width: 100px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 3px solid #9195941f;
    position: absolute;
}